@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");

body {
    font-family: 'Lora', serif;
    font-size: 18px;
    margin: 0;
    color: #333;
    line-height: 1.6;
    background-color: #f3f0e6;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #004466;
}

a {
    text-decoration: none;
    color: #0056b3;
}

.btn-blue {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-blue:hover {
    background-color: #0056b3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.about {
    padding: 50px 0;
    text-align: center;
    background-color: #c7d3c0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.8;
    color: #333;
}

.services {
    padding: 50px 0;
    background-color: #eae7dc;
}

.service-card {
    margin: 20px;
    padding: 20px;
    background-color: #4b6158;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.service-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #f0e68c;
}

.service-card p {
    font-size: 18px;
    line-height: 1.5;
    color: #e0e0e0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 0;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    flex-basis: calc(33% - 40px);
    margin: 10px;
    padding: 20px;
    background-color: #eae7dc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 5px;
}

.card h3 {
    padding-top: 20px;
    color: #004466;
    text-align: center;
}

footer {
    background-color: #333;
    color: #f0e68c;
    padding: 20px 0;
    text-align: center;
}
